# Ignore compiled binaries
*.out
*.exe

# Ignore build artifacts and directories
cmake-build-*/
main.cpp
CMakeLists.txt

# Ignore CLion specific files and directories
.cmake/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
